
#topBarDiv {
position:absolute;
width:100%;
top:0;
left:0;
height:10%;
background:lightgray;
}
h1#title{
	position:relative;
	left:5%;
	width:300px;
	
}
h1:hover#title{
	cursor: pointer;
}


div#contentWrapper {
top:11%;
position:relative;
border:solid;
padding:10px;
height:89%;
background-color:white;
max-width:800px;
min-width:800px;
word-wrap: break-word;
margin: 0 auto;
text-align:center;
z-index: -1;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}
body{
	background-image: url("../images/background.png");

}

p {
	display:relative;
font-size: 17px;
letter-spacing: 0px;
word-spacing: 0px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
text-transform: none;

}

div#commentWrapper {
	background-color: white;
	border:solid;
	width:800px;
	float:bottom;
	margin: 0 auto;
	text-align:center;
}

#commentSubmit {
color: rgb(0, 0, 0); font-size: 16px; line-height: 16px; padding: 9px; border-radius: 0px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(196, 196, 196) 0%, rgb(168, 168, 168) 100%); box-shadow: rgba(0, 0, 0, 0) 5px 5px 15px 5px; border: 0px solid rgb(28, 110, 164); display: inline-block;}
#commentSubmit:hover {
background: #C4C4C4; }

#comment{
	padding:9px;
	height:34px;
	margin:0;
	width:80%;
}